.name{
   
    position: relative;
    left: 10px;
    top: 5px;
    font-size: 30px;
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
    color: snow;
    

}

.myrow{
   top: 10px;
   position: relative;
   background-color: #ebecec;
   font-size: 20px;
}

.nav-link{
    color: black;
}

.abt{
    color: skyblue;
}
.lorem1{
  color: black;
  font-family: sans-serif;
 
